Repository ansys/pyaedt-toolkits-common, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "tests/conftest.py"
    - "tests/backend/conftest.py"
    - "tests/backend/tests_aedt_api/conftest.py"
    - "tests/backend/tests_common_api/conftest.py"
    - "tests/backend/tests_edb_api/conftest.py"
    - "tests/backend/tests_rest_api/conftest.py"

Add changelog
  .reuse/templates/mit_license.jinja2
  doc/changelog.d/changelog_template.jinja
  doc/source/changelog.rst
  doc/source/index.rst
Labels: documentation

Change pre-commit
  .pre-commit-config.yaml
  doc/make.bat
Labels: none

Change pyproject
  SECURITY.md
  pyproject.toml
Labels: maintenance

chore: adding changelog file 248.maintenance.md [dependabot-skip]
  doc/changelog.d/248.maintenance.md
Labels: none

Fix UT
  .github/workflows/ci_cd.yml
Labels: maintenance

Fix UT
  .github/workflows/ci_cd.yml
Labels: maintenance

Fix UI version
  examples/toolkit/pyaedt_toolkit/__init__.py
  examples/toolkit/pyaedt_toolkit/ui/frontend_properties.toml
Labels: none

Fix python version
  .github/workflows/ci_cd.yml
Labels: maintenance

Add PYAEDT_TOOLKIT_CONFIG_DIR env variable to add local frontend properties
  examples/toolkit/pyaedt_toolkit/ui/frontend_properties.toml
  examples/toolkit/pyaedt_toolkit/ui/models.py
  examples/toolkit/pyaedt_toolkit/ui/run_frontend.py
  src/ansys/aedt/toolkits/common/ui/main_window/main_window_layout.py
Labels: none

Fix logger. This has to be updated in the other toolkits.
  examples/toolkit/pyaedt_toolkit/ui/frontend_properties.toml
  examples/toolkit/pyaedt_toolkit/ui/run_frontend.py
Labels: none

Fix logger
  examples/toolkit/pyaedt_toolkit/backend/backend_properties.toml
Labels: none

Retrigger actions
  .github/workflows/ci_cd.yml
Labels: maintenance
