Repository ansys/pyaedt-toolkits-common, pull requests merged in 2024-05, with the labels that each got.

#119 CHORE: Update pyaedt dependency
  pyproject.toml
Labels: maintenance

#120 CHORE: Remove CI install target
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

#122 Fix check_backend_communication
  examples/toolkit/pyaedt_toolkit/run_toolkit.py
  src/ansys/aedt/toolkits/common/utils.py
Labels: bug

#123 Fix typo in documentation
  doc/source/getting_started/installation.rst
Labels: bug, documentation

#124 Test utils.py
  .github/workflows/ci_cd.yml
  src/ansys/aedt/toolkits/common/backend/api.py
  src/ansys/aedt/toolkits/common/utils.py
  tests/backend/tests_utils/__init__.py
  tests/backend/tests_utils/test_util.py
Labels: maintenance

#125 Fix multiple project issue
  examples/ui/default_ui_example/default_ui.py
  src/ansys/aedt/toolkits/common/ui/actions_generic.py
  src/ansys/aedt/toolkits/common/ui/common_windows/home_menu.py
Labels: bug

#128 Update index.rst
  doc/source/index.rst
Labels: documentation
