Repository ansys/pyaedt-toolkits-common, pull requests merged in 2024-08, with the labels that each got.

#136 DOCS: Fix plot design
  examples/toolkit/pyaedt_toolkit/ui/run_frontend.py
  examples/toolkit/pyaedt_toolkit/ui/windows/help/help_menu.py
Labels: documentation

#141 CHORE: Switch to AEDT 2024.2
  .github/workflows/ci_cd.yml
  src/ansys/aedt/toolkits/common/backend/api.py
  src/ansys/aedt/toolkits/common/backend/common_properties.toml
  src/ansys/aedt/toolkits/common/backend/models.py
  tests/backend/conftest.py
  tests/backend/tests_aedt_api/conftest.py
  tests/backend/tests_common_api/conftest.py
  tests/backend/tests_edb_api/conftest.py
  tests/backend/tests_rest_api/conftest.py
Labels: maintenance

#146 Refacto imports
  doc/source/examples/aedt_common/api_aedt_connect_session.py
  doc/source/examples/aedt_common/api_aedt_open_project.py
  doc/source/examples/edb_common/api_edb.py
  examples/toolkit/pyaedt_toolkit/backend/api.py
  examples/toolkit/pyaedt_toolkit/ui/actions.py
  pyproject.toml
  src/ansys/aedt/toolkits/common/backend/api.py
  tests/backend/conftest.py
  tests/backend/tests_aedt_api/conftest.py
Labels: documentation, maintenance
