Repository ansys/pyaedt-toolkits-common, pull requests merged in 2024-10, with the labels that each got.

#147 DOCS: Use new ansys sphinx theme
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

#162 FIX: AEDT Versions change in PyAEDT
  .github/workflows/ci_cd.yml
  CONTRIBUTORS.md
  pyproject.toml
  src/ansys/aedt/toolkits/common/backend/api.py
Labels: bug, maintenance

#168 CI: Remove meilisearch jobs and fix deploy jobs
  .github/workflows/ci_cd.yml
Labels: maintenance

#170 BUILD: Fix Pyside6 version
  pyproject.toml
Labels: bug, maintenance

#173 Update list installed versions
  src/ansys/aedt/toolkits/common/backend/api.py
Labels: bug
