Repository ansys/pyaedt-toolkits-common, pull requests merged in 2024-04, with the labels that each got.

#100 Feat/antenna toolkit features
  examples/toolkit/pyaedt_toolkit/ui/frontend_properties.toml
  src/ansys/aedt/toolkits/common/backend/api.py
  src/ansys/aedt/toolkits/common/ui/common_windows/home_menu.py
  src/ansys/aedt/toolkits/common/ui/common_windows/settings_column.py
  src/ansys/aedt/toolkits/common/ui/utils/ui_templates/pages/main_pages.ui
  src/ansys/aedt/toolkits/common/ui/utils/ui_templates/pages/ui_main_pages.py
  tests/backend/tests_aedt_api/conftest.py
Labels: enhancement

#101 add icons common toolkit
  pyproject.toml
  src/ansys/aedt/toolkits/common/backend/rest_api.py
  src/ansys/aedt/toolkits/common/ui/actions_generic.py
  src/ansys/aedt/toolkits/common/ui/utils/images/icons/antenna.svg
  src/ansys/aedt/toolkits/common/ui/utils/images/icons/box_plot.svg
  src/ansys/aedt/toolkits/common/ui/utils/images/icons/cubes_solid.svg
  src/ansys/aedt/toolkits/common/ui/utils/images/icons/cylindrical_data_graphic.svg
  src/ansys/aedt/toolkits/common/ui/utils/images/icons/diagram.svg
  src/ansys/aedt/toolkits/common/ui/utils/images/icons/motor.svg
  src/ansys/aedt/toolkits/common/ui/utils/ui_templates/pages/main_pages.ui
  src/ansys/aedt/toolkits/common/ui/utils/ui_templates/pages/ui_main_pages.py
  src/ansys/aedt/toolkits/common/ui/utils/windows/common_window_utils.py
Labels: maintenance

#109 Fix/init toolkit from aedt
  src/ansys/aedt/toolkits/common/ui/common_windows/settings_column.py
Labels: bug
