Repository ansys/pyaedt-toolkits-common, pull requests merged in 2024-03, with the labels that each got.

#79 CI: Add documentation index update
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Labels: documentation, maintenance

#80 DOC: Add PDF download button
  .github/workflows/ci_cd.yml
  doc/source/_static/assets/download/.gitignore
  doc/source/_static/assets/download/README.md
  doc/source/conf.py
Labels: documentation, maintenance

#83 Fixed file existence checking.
  doc/source/examples/properties_common/models.py
  examples/toolkit/pyaedt_toolkit/backend/models.py
  examples/toolkit/pyaedt_toolkit/ui/models.py
  src/ansys/aedt/toolkits/common/backend/models.py
  src/ansys/aedt/toolkits/common/ui/models.py
  tests/backend/tests_rest_api/models.py
Labels: bug, documentation

#87 Toml implementation
  doc/source/examples/properties_common/api_properties.py
  doc/source/examples/properties_common/backend_properties.json
  doc/source/examples/properties_common/backend_properties.toml
  doc/source/examples/properties_common/models.py
  doc/source/getting_started/architecture.rst
  examples/toolkit/pyaedt_toolkit/backend/api.py
  examples/toolkit/pyaedt_toolkit/backend/backend_properties.json
  examples/toolkit/pyaedt_toolkit/backend/backend_properties.toml
  examples/toolkit/pyaedt_toolkit/backend/models.py
  examples/toolkit/pyaedt_toolkit/ui/actions.py
  examples/toolkit/pyaedt_toolkit/ui/frontend_properties.json
  examples/toolkit/pyaedt_toolkit/ui/frontend_properties.toml
  examples/toolkit/pyaedt_toolkit/ui/models.py
  examples/toolkit/pyaedt_toolkit/ui/windows/create_geometry/geometry_menu.py
  examples/toolkit/pyaedt_toolkit/ui/windows/plot_design/plot_design_menu.py
  pyproject.toml
  src/ansys/aedt/toolkits/common/backend/common_properties.json
  src/ansys/aedt/toolkits/common/backend/common_properties.toml
  src/ansys/aedt/toolkits/common/backend/models.py
  src/ansys/aedt/toolkits/common/ui/actions_generic.py
  src/ansys/aedt/toolkits/common/ui/common_properties.json
  src/ansys/aedt/toolkits/common/ui/common_properties.toml
  src/ansys/aedt/toolkits/common/ui/common_windows/settings_column.py
  src/ansys/aedt/toolkits/common/ui/models.py
  tests/backend/tests_rest_api/models.py
Labels: documentation, maintenance

#90 Feat/issue 89
  examples/toolkit/pyaedt_toolkit/backend/run_backend.py
  examples/toolkit/pyaedt_toolkit/run_toolkit.py
  examples/toolkit/pyaedt_toolkit/ui/__init__.py
  examples/toolkit/pyaedt_toolkit/ui/run_frontend.py
  examples/toolkit/pyaedt_toolkit/ui/windows/create_geometry/geometry_menu.py
  examples/toolkit/pyaedt_toolkit/ui/windows/plot_design/plot_design_menu.py
  pyproject.toml
  src/ansys/aedt/toolkits/common/ui/common_windows/home_menu.py
  src/ansys/aedt/toolkits/common/ui/common_windows/settings_column.py
  src/ansys/aedt/toolkits/common/utils.py
Labels: enhancement, maintenance

#91 Uncomment upload codecov
  .github/workflows/ci_cd.yml
Labels: maintenance

#92 Feat/improve properties
  src/ansys/aedt/toolkits/common/backend/api.py
  src/ansys/aedt/toolkits/common/backend/models.py
  src/ansys/aedt/toolkits/common/ui/models.py
  tests/backend/tests_common_api/backend_properties.toml
  tests/backend/tests_common_api/conftest.py
  tests/backend/tests_common_api/models.py
  tests/backend/tests_common_api/test_common.py
Labels: enhancement

#94 MAINT: Update pyproject.toml
  pyproject.toml
Labels: maintenance
