Repository ansys/pyaedt-toolkits-common, pull requests merged in 2025-03, with the labels that each got.

#221 open aedtz fix in api.py
  .github/workflows/ci_cd.yml
  src/ansys/aedt/toolkits/common/backend/api.py
Labels: bug, maintenance

#223 CI: Add mandatory token to github release step
  .github/workflows/ci_cd.yml
Labels: maintenance

#228 FIX: AEDT Versions
  examples/toolkit/pyaedt_toolkit/ui/actions.py
  pyproject.toml
  src/ansys/aedt/toolkits/common/backend/api.py
Labels: bug, maintenance

#231 FEAT: Add args to thread
  src/ansys/aedt/toolkits/common/backend/api.py
Labels: enhancement
