Repository ansys/pyaedt-toolkits-common, pull requests merged in 2025-04, with the labels that each got.

#239 FIX: active project and active design
  doc/source/examples/aedt_common/api_aedt_connect_session.py
  src/ansys/aedt/toolkits/common/backend/api.py
Labels: bug, documentation

#241 FIX: Design names issue in HFSS 3D Layout
  src/ansys/aedt/toolkits/common/backend/api.py
  src/ansys/aedt/toolkits/common/backend/common_properties.toml
  src/ansys/aedt/toolkits/common/backend/constants.py
  src/ansys/aedt/toolkits/common/backend/logger_handler.py
  src/ansys/aedt/toolkits/common/ui/utils/windows/common_window_utils.py
  tests/backend/tests_aedt_api/test_aedt.py
  tests/backend/tests_utils/test_util.py
Labels: bug

#244 CI: Update release to PyPI step
  .github/workflows/ci_cd.yml
Labels: maintenance
